convar USER = "ROOT";
convar PASS = "PASS";

convar URI = "http://localhost:80";

convar conn = System.db({new Authorization(
    System.config.db.setUser(USER),
    System.config.db.setPASS(PASS),

)});

convar server = conn.connect(URI, {
    path: "./",
    dbFiles: ['items.txt', 'Receipt.txt', 'Sales.txt', 'SalesLineItem.txt'],
    DB.connnectionType: "sql",
    DB.querySems: ['sql','*.*']
});

Server.start(server);